@import url("https://fonts.googleapis.com/css?family=Spartan");
@import url("https://fonts.googleapis.com/css?family=Poppins");

plyrics{
    font-family: Poppins;
    font-weight: 450;
    font-size: 14px;
}
psongtitle{
    font-family: Poppins;
    font-weight: 450;
    font-size: 30px;
    color:#21BCDE;
}
